@media (min-width: 320px) and (max-width: 991px) {
    .mobile__nav {
        position: fixed;
        top: 0;
        z-index: 100;
        background: #fff;
    }

    .banner-image {
        background-size: cover !important;
        background-position: right;
        height: auto;
        width: 100%;
    }

    .show__on__desktop {
        display: none;
    }

    .show__on__mobile {
        display: block;
    }

    .banner__image {
        height: 100% !important;
        width: 100%;
        /* background-size: contain !important; */
    }

    .banner__details h1 {
        font-size: 14px;
    }

    .banner__details h2 {
        font-size: 16px;
        margin-top: 10px;
    }

    .banner__details p {
        width: 100%;
        font-size: 14px;
    }

    .product__carousel > h1 {
        text-align: left;
    }

    .carousel__previous,
    .carousel__next {
        top: -72px !important;
    }

    .carousel__previous {
        right: 75px;
        left: unset;
    }

    .product__items .item .product__details,
    .__brands {
        width: 100%;
    }

    .category__section {
        padding-bottom: 40px;
    }

    .category__details {
        padding: 25px 20px;
    }

    .category__details h1 {
        font-size: 16px;
        line-height: 16px;
        margin-bottom: 20px;
    }

    .category__details p {
        font-size: 14px;
        font-weight: 400;
        line-height: 14px;
    }
    .brands__area h1 {
        text-align: left;
    }

    .subscription__area {
        margin-top: 20px;
    }

    .subscription__area p {
        font-size: 14px;
        line-height: 16px;
    }

    .subscription__area .email__input {
        padding: 17px 20px;
    }

    .subscription__area .email__btn {
        margin-left: 20px;
    }

    .mobile__search__result {
        position: fixed;
        top: 0px;
        left: -100%;
        background: #0f72b3;
        z-index: 110;
        height: 100vh;
        width: 100vw;
        transition: all 0.3s ease-in-out;
    }

    .show__drawer {
        left: 0% !important;
        transition: all 0.3s ease-in-out;
    }

    .mobile__search__result .search__heading {
        padding: 28px 33px;
        background: #0a4a74;
    }

    .mobile__search__result .search__heading h1 {
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
        color: #fff;
        width: 100vw;
        padding-bottom: 0px;
        margin-bottom: 0px;
    }

    .__search__input {
        margin: 20px 16px;
        padding: 17px;
        background: #fff;
        border-radius: 3px;
        display: flex;
        align-items: center;
    }

    .__search__input input {
        margin-left: 17px;
        border: none;
        outline: none;
        font-size: 14px;
        line-height: 16px;
        text-transform: uppercase;
        color: #0f72b3;
        width: 100%;
    }

    .__search__input input::placeholder {
        font-size: 14px;
        line-height: 16px;
        text-transform: uppercase;
        color: #0f72b3;
    }

    .recently__searched {
        margin: 20px 16px;
        overflow-y: auto;
    }
    .recently__searched h1 {
        font-weight: 500;
        font-size: 14px;
        color: #ffffffcc;
        text-transform: uppercase;
    }

    .search__product {
        margin: 20px 0px;
        border-radius: 3px;
        background: #ffff;
    }

    .search__product .col-4 {
        padding: 18px;
        border-right: 1px solid #e2e2e2;
    }

    .search__product .col-4 img {
        height: 80px;
        width: 80px;
    }

    .search__product .col-8 {
        padding: 25px 18px;
    }

    .search__product .col-8 h1 {
        width: 189px;
        color: #0f72b3;
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 15px;
    }

    .search__product .col-8 p {
        color: red;
        margin-bottom: 0px;
    }
    .recently__searched > div {
        padding-bottom: 80px;
    }

    .menu__elements {
        margin: 25px 0;
    }

    .menu__elements ul {
        list-style: none;
    }

    .menu__elements ul li {
        margin-bottom: 25px;
        margin-left: 0px !important;
        margin-right: 0px !important;
    }

    .menu__elements ul li a {
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
        color: #fff !important;
        text-decoration: none;
    }

    .form-check label {
        color: #fff;
    }

    .menu__elements ul li a.my__account,
    .menu__elements ul li a.my__cart {
        display: flex !important;
        flex-direction: row !important;
        align-items: center !important;
    }

    .menu__elements ul li a.my__account p,
    .menu__elements ul li a.my__cart p {
        margin-bottom: 0px;
        margin-left: 27px;
    }

    .menu__elements ul li a.my__account p,
    .menu__elements ul li a.my__cart span {
        left: 26px !important;
    }

    .section__title div {
        display: none;
        width: 0%;
        border: 0px solid #e2e2e2;
    }

    .testimonial__section .container .row {
        padding-bottom: 0px;
    }
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
    .show__on__desktop {
        display: block;
    }

    .show__on__mobile {
        display: none;
    }
}

@media (min-width: 1400px) {
}
